body {
  background: linear-gradient(50.52deg, #ff626d 0%, #febf70 96.7%);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  color: white;
}

.content {
  background: linear-gradient(49.32deg, #172238 0%, #304e72 97.44%);

  width: 95vw;
  height: 98vh;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  flex-grow: 5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.numeric-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.operation-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.numeric-buttons button {
  color: rgb(197, 197, 197);
  display: block;
  height: 25%;
  width: 33%;
  background-color: transparent;
  border-width: 0;
  font-size: 36px;
}

.operation-buttons button {
  color: white;
  background: linear-gradient(50.52deg, #ff626d 0%, #febf70 96.7%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-width: 0;
  font-size: 25px;
}

.first-line {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.second-line {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.second-line-first-column {
  display: flex;
}

.second-line-first-column button {
  height: 100px;
  border-radius: 30px;
}

.second-line-second-column {
  display: flex;
  flex-direction: column;
}

.third-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.third-line button {
  border-radius: 30px;
  background: linear-gradient(180deg, #fa579a 0%, #f9328f 100%);
  width: 85%;
}

/* display */

.display h1 {
  font-size: 70px;
}

.history li {
  color: white;
  list-style: none;
  font-size: 30px;
}
